.cabecera__container {
    display: flex;
    /*En este bloque se aplica flex y se organiza por defecto en linea*/
    justify-content: space-between;
    /*Genera in espacio entre items siempre igual*/
    align-items: center;
    /*Centra los items en el centro de la caja*/
    position: fixed;
    /*La cabecera se queda fija en la parte superior de la pantalla*/
    top: 0;
    /*Posiciona la cabecera en una posicion 0*/
}

.cabecera__buscar__item {
    /*Bloque de buscar item desaparece*/
    display: none;
}

/*Menu container*/
.menu__container {
    position: fixed;
    /*Se ubica en el lado izquierdo y se fija*/
    bottom: 0%;
    /*Se ubica en la parte inferior*/
    height: 75px;
    /*Se establece altura para disminuirla*/
    width: 100%;
    /*Se establece el ancho con 100% para que abarce todo*/
}

.menu__lista {
    display: flex;
    /*fletbox*/
    justify-content: space-around;/*Elementos tienen un espacio entre ellos*/
    height: 100%;

}

.menu__lista li {
    /*Se especifica con "li" para señalar el elementos con el que se decea trabajar*/
    align-self: center;/*centra los elementos en el centro del contenedor*/
}

/*nth nos ayuda a trabajar con elementos hermanos, en este caso estamos ocultando los menu listas 2, 3, 4*/
.menu__lista:nth-child(3),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}



/*Seccion superior*/
.superior__seccion__container {
    display: flex;
    /*Elementos alineados*/
    align-items: center;
    /*Elementos centrados en el contenedor*/
    white-space: nowrap;
    /*Los textos no se dividen*/
    overflow: scroll;
    /*barra de desplazamiento*/
    gap: 15px;
}

.rodapie__container {
    display: flex;
    /*flex-direction: column;
    /*Cambia direccion de la columna generada en "display: flex" a vertical*/
    /*flex-wrap: wrap;/*Modifica automaticamente el contenido en bloques en secuencia segun el ancho de pantalla*/
    flex-flow: column wrap;
    /*Esta linea de codigo hace lo mismo que flex-direction y flex-wrap*/

}

/*Solo se mostrara cuando los dispositivos tengan al menos 834px de ancho*/
@media (min-width:834px) {

    /*Cabecera*/
    .cabecera__buscar__item {
        display: block;
    }

    /*Rodapie*/
    .rodapie__container {
        justify-content: space-between;
        /*Espacio entre cada una de las columnas*/
    }
}